@use '../variables';

@layer reset, base, components, utilities;

@layer bootstrap {
  @import url('bootstrap/scss/bootstrap');
}

@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
}

@layer base {
  :root {
    --gap: 16px;
    --card-border: rgb(0 0 0 / 6%);
  }

  body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 2rem;
    font-family: variables.$font-family-sans-serif;
    font-size: 16px;
    line-height: 24px;
    background-image: url('/src/assets/images/5104831.jpg');
    color: variables.$uoc-corporate;
  }

  .uoc-container {
    max-width: 800px;
    margin: auto;
    padding: 2rem;
    border-radius: 2rem;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 10%),
      0 2px 4px -1px rgb(0 0 0 / 6%);
    container-type: inline-size;
    container-name: mainbox;

    @container mainbox (min-width: 600px) {
      padding: 3rem;
      border-radius: 3rem;
    }
  }
}

.uoc-footer {
  margin-top: 1.5rem;
  font-size: 0.75rem;
  text-align: center;
  background-color: variables.$uoc-corporate;
}

//Header y Footer - Navbar.

.navbar {
  display: flex;
  place-content: center space-between;
  background-color: variables.$uoc-corporate;
  border-radius: 10px;
  padding: 20px;
  flex-wrap: wrap;

  &__list {
    display: flex;
    margin: 0;
    font-family: variables.$font-family-sans-serif;
    list-style: none;
    padding: 0;
    flex-wrap: wrap;
  }

  &__item {
    display: flex;
    justify-content: center;
    background-color: variables.$primary-color;
    padding: 5px 20px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    margin: 5px;

    &:hover {
      background-color: variables.$secunday-color;

      .navbar__link {
        color: variables.$details2-color;
        font-weight: bold;
      }
    }
  }

  &__link {
    text-decoration: none;
    color: #fff;
  }

  &__logo {
    width: 10%;
  }

  &__item:is(:hover, .is-active, :focus) {
    background-color: variables.$secunday-color;

    .navbar__link {
      color: variables.$details2-color;
      font-weight: bold;
    }
  }


  @container navbar (max-width: 450px) {
    &__list {
      display: block;
    }
    
  }

  /* Media Queries */

  @media (width <= 480px) {
    &__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    
    display: flex;
    justify-content: center;
    
    &__logo {
      width: 50%;
    }
  }
}

// Página 1 - Inicio
@layer components {
  .sectionblock {
    width: 80%;
    margin: 50px auto;
    padding: 50px 0;
    font-family: sans-serif;
    text-align: center;
    font-weight: lighter;
    background-color: #fff;
    border-radius: 10px;
    container-type: inline-size;
    container-name: portada;

    &__title {
      font-family: variables.$font-family-serif;
      font-weight: bold;
      font-size: 50px;
      margin: 10px 0 20px;
      color: variables.$uoc-corporate;
    }

    &__title2 {
      font-family: variables.$font-family-serif;
      margin: 40px 0;
    }

    &__text {
      width: 70%;
      margin: 0 auto 40px;
    }

    /* La retícula */
    @supports (display: grid) {
      &__wrapper-box {
        display: grid;
        gap: 5px;
        grid-template-columns:
          [col1-start] 300px
          [col2-start] 300px
          [col3-start] 400px
          [col3-end];
        grid-template-rows:
          [row1-start] auto
          [row2-start] auto
          [row2-end];
        place-content: center center;

        &__frame {
          padding: 10px;
          font-size: 150%;

          img {
            width: 100%;
            height: 100%;
            border-radius: 15px;
            transition: transform 0.3s ease;

            &:hover {
              transform: scale(1.1);
            }
          }
        }

        /* Modificadores de posición */
        &__frameA {
          grid-column: col1-start / col3-start;
          grid-row: row1-start;
        }

        &__frameB {
          grid-column: col3-start;
          grid-row: row1-start / row2-end;
        }

        &__frameC {
          grid-column: col1-start;
          grid-row: row2-start;
        }

        &__frameD {
          grid-column: col2-start;
          grid-row: row2-start;
        }
      }

      @container portada (min-width: 900px) {
        &__title {
          font-size: 60px;
        }

        &__text {
          width: 55%;
          font-size: 18px;
        }
      }

      @media (width <= 900px) {
        &__wrapper-box {
          grid-template-columns:
            [col1-start] 150px
            [col2-start] 150px
            [col3-start] 200px
            [col3-end];
        }
      }

      @media (width <= 480px) {
        &__wrapper-box {
          grid-template-columns:
            [col1-start] 100px
            [col2-start] 100px
            [col3-start] 90px
            [col3-end];
          gap: 0.1rem;
        }
      }
    }
  }
}

// Página 2 - Participantes.
.participants-section {
  width: 80%;
  margin: 50px auto;
  padding: 50px 0;
  font-family: sans-serif;
  text-align: center;
  font-weight: lighter;
  border-radius: 10px;
  container-type: inline-size;
  container-name: participantes;

  &__title {
    font-family: variables.$font-family-serif;
    background-color: #fff;
    border-radius: 5px;
    margin: 15px 0;
    padding: 10px;
    color: variables.$uoc-corporate;
  }

  &__subtitle {
    font-family: variables.$font-family-serif !important;
    font-weight: bold;
    color: variables.$uoc-corporate;
    font-size: 25px;
    margin: 20px 0;
  }

  &__flex {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
    align-items: stretch;
    justify-content: center;

    &:has(> .participants-section__cell--featured),
    &.has-featured {
      justify-content: flex-start;
      gap: calc(var(--gap) * 1.5);
    }
  }

  &__cell {
    height: 450px;
    flex: 1 1 min(220px, 33%);
    min-width: 180px;
    background: variables.$secunday-color;
    border: 1px solid var(--card-border);
    border-radius: 10px;
    padding: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    p {
      font-size: 20px;
    }
  }

  &__img {
    width: 90%;
    height: auto;
    overflow: hidden;
    margin: 0 auto 10px;

    img {
      width: 100%;
      display: block;
      border-radius: 10px;
    }
  }

  &__text {
    font-size: 16px;
    color: #333;
  }

  @container participantes (max-width: 700px) {
    &__cell {
      flex: 1 1 calc((100% - var(--gap)) / 2);
    }
  }

  @container participantes (max-width: 480px) {
    &__cell {
      flex: 1 1 100%;
    }
  }

  /* Media Queries */
  @media (width <= 900px) {
    &__cell {
      flex: 1 1 calc((100% - var(--gap)) / 2);
    }

    &__img {
      width: 50%;
      height: auto;
    }
  }

  @media (width <= 480px) {
    &__cell {
      flex: 1 1 100%;
    }
  }
}

//Página 3 - Información.

.article-page {
  width: 90%;
  margin: 50px auto;
  padding: 50px;
  background-color: #fff;
  border-radius: 10px;
  text-align: center;
  container-type: inline-size;
  container-name: articulo;

  :where(h2, h3) {
    font-weight: 600;
    margin-top: 1.5rem;
  }

  p {
    line-height: 1.7;
  }

  &__header {
    overflow: hidden;
    position: relative;
  }

  &__holder {
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  &__titles {
    background-color: variables.$uoc-corporate;
    color: white;
    padding: 20px;
    border-radius: 15px;
  }

  &__p1 {
    width: 70%;
    font-size: 20px;
    padding-top: 50px;
    padding-left: 40px;
  }

  @container articulo (min-width: 900px) {
    article {
      column-count: 2;
      column-gap: 2rem;
    }

    img,
    blockquote {
      break-inside: avoid;
    }
  }

  @media (width <= 900px) {
    article {
      column-count: 1;
      column-gap: 2rem;
    }
  }

}

.article-page__section {
  background-color: variables.$secunday-color;
  width: 80%;
  margin-top: 5rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;

  p {
    padding: 30px;
  }

  h3 {
    font-family: variables.$font-family-sans-serif;
    font-weight: bold;
  }
}

blockquote {
  text-align: left;
  padding: 30px;
  font-size: 20px;

  @media (width <= 900px) {
    font-size: 14px;
  }

}

.section-image {
  width: 90%;
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;

  /* Media Queries */
  @media (width <= 900px) {
    width: 80%;
  }

}
//Página 4 - Contactos.

.form-contactos {
  background-color: variables.$details1-color;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 3rem;
  border-radius: 15px;
}

@layer utilities {
  .remark {
    color: variables.$details2-color;
  }
}
