<footer class="uoc-footer">
   <nav class="navbar">
    <img class="navbar__logo" src="/src/assets/images/ajuntament-de-santa-margalida-seeklogo.png" alt="Ajuntamiento_SantaMargalidaLogo">
    
   <ul class="navbar__list">
  <li class="navbar__item"><a href="index.html" class="navbar__link">Inicio</a></li>
  <li class="navbar__item"><a href="./participantes.html" class="navbar__link">Participantes</a></li>
  <li class="navbar__item"><a href="./informacion.html" class="navbar__link">información</a></li>
  <li class="navbar__item"><a href="./contactos.html" class="navbar__link">Contacto</a></li>
</ul>

       <ul class="navbar__list">
      <li>
        <a href="#" class="navbar__link"><i class="fa-brands fa-google-plus-g"></i></a>
      </li>
      <li >
        <a href="#" class="navbar__link"><i class="fa-brands fa-facebook"></i></a>
      </li>
      <li ">
        <a href="#" class="navbar__link"><i class="fa-brands fa-twitter"></i></a>
      </li>

    </ul>
  </nav>
  &copy; Universitat Oberta de Catalunya
</footer>
