<header>
  <nav class="navbar">
    <img class="navbar__logo" src="/src/assets/images/ajuntament-de-santa-margalida-seeklogo.png">
   <ul class="navbar__list">
  <li class="navbar__item"><a href="index.html" class="navbar__link">Inicio</a></li>
  <li class="navbar__item"><a href="./participantes.html" class="navbar__link">Participantes</a></li>
  <li class="navbar__item"><a href="./informacion.html" class="navbar__link">Información</a></li>
  <li class="navbar__item"><a href="./contactos.html" class="navbar__link">Contacto</a></li>
</ul>
  </nav>
</header>
