<header>
  <nav class="navbar">
    <img class="navbar__logo" src="/src/assets/images/logosantamargalida.png">
    <ul class="navbar__list">
      <li class="navbar__list--item"><a href="index.html" class="navbar__list--link">Inicio</a></li>
      <li class="navbar__list--item">
        <a href="./variedades.html" class="navbar__list--link">Variedades</a>
      </li>
      <li class="navbar__list--item">
        <a href="./historia.html" class="navbar__list--link">Historia</a>
      </li>
      <li class="navbar__list--item">
        <a href="./contactos.html" class="navbar__list--link">Contacto</a>
      </li>
    </ul>
  </nav>
</header>
