/**
 * Import any npm dependencies in this file
 * see commented examples below
 */

// @import "some-node-module";
// @import "@some-company/some-node-module";
@import "node_modules/bootstrap/scss/bootstrap"; //Bootstrap

@import "~@fortawesome/fontawesome-free/css/all.min.css"; //FontAwesome
