@use 'sass:color';

$font-family-sans-serif: -apple-system, blinkmacsystemfont, 'Segoe UI', roboto,
  'Helvetica Neue', arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
  'Segoe UI Symbol';
$font-family-serif: 'Georgia', 'Times New Roman', serif;

$uoc-corporate: #000078;
$uoc-masterbrand: #73edff;
$uoc-bg: color.scale($uoc-masterbrand, $lightness: 70%);

$mqMinWidth: 420px;


$primary-color: #2a6f9e;
$secunday-color: #6ecbd4;
$details1-color: #d9c3a1;
$details2-color: #c67a51;

:root {
  --gap: 16px;              /* espacio entre celdas */
  --card-bg: #fff8f0;      /* fondo ejemplo */
  --card-border: rgb(0 0 0 / 6%);
  --text: #222;
}
